[project]
	description = This project is about creating point of sale application for hotels and shopping malls
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sunil446k
[access "refs/for/refs/*"]
	read = group user/sunil446k
	push = group user/sunil446k
	label-Code-Review = -2..+2 group user/sunil446k
	label-Verified = -1..+1 group user/sunil446k
	rebase = group user/sunil446k
	removeReviewer = group user/sunil446k
	submit = group user/sunil446k
[access "refs/heads/*"]
	read = group user/sunil446k
	create = group user/sunil446k
	push = +force group user/sunil446k
	pushMerge = group user/sunil446k
[access "refs/tags/*"]
	push = +force group user/sunil446k
	pushTag = group user/sunil446k
	pushSignedTag = group user/sunil446k
